name: Convert xlsx to markdown table, XMLs

on:
  push:
    branches: [ script ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [17.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: |
        npm install
        node xlsx2markdown.js
        node xlsx2xmls.js

    - name: Commit files
      run: |
        git config --local user.email "touge1027@gmail.com"
        git config --local user.name "tougee"
        git commit -m "Update client.md and client XMLs" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: script